* {
    margin: 0;
    padding: 0;
}


#page-grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr 70px;
}

.icones {
    padding-top: 200px;
    padding-left: 20px;
    display: flex;
    flex-direction: column; 
}

p {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.container {
    width: 20px;
}

h1 {
    font-size: 20px;
}

header {
    background-color: mediumvioletred;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
    align-items: center;
}


main {
    background-color: white;
    display: grid;
    grid-template-columns: 300px 1fr;
}

nav {
    background-color: #f2d0e0;
}

footer {
    background-color: mediumvioletred;
}

button {
    justify-self: end;
}